body{
	background-color:yellow;
}
#title{
	font-family: sans-serif;
}

#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
	background-color: lime;
}

button.center:hover{
	background-color: green;
}

button.center:active{
	background-color: blue;
}

#title{
	color:red;
	text-align: center;
}

#game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	max-width: 800px;
	margin: 20px auto;
}

img {
    width: 100px;
    height: 140px;
    cursor: pointer;
}